<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="ServerType" value="2017"/>
    <add key="server" value="ALPHA"/>
    <add key="dbuser" value="sa"/>
    <add key="dbpass" value="Phan921381!"/>
    <!--<add key="emailhost" value="smtp.gmail.com"/>
    <add key="emailport" value="587"/>
    <add key="emailuser" value="ariacc.ajiya@gmail.com"/>
    <add key="emailpass" value="ASIAroofing888"/>
    <add key="emailfn" value="Finance"/>
    <add key="emailfr" value="ariacc.ajiya@gmail.com"/>
    <add key="emailAdmin" value="ariacc.ajiya@gmail.com"/>
    <add key="EnableSSL" value="true"/>-->
    <add key="emailhost" value="smtp-mail.outlook.com" />
    <add key="emailport" value="587" />
    <add key="emailuser" value="wingkeen@outlook.com" />
    <add key="emailpass" value="welcome8#" />
    <add key="emailfn" value="Development Team" />
    <add key="emailfr" value="wingkeen@outlook.com" />
    <add key="emailAdmin" value="wingkeen@outlook.com" />
    <add key="EnableSSL" value="true" />

    <add key="DefaultDB" value="ARIT_EmailPortal" />
    <add key="XafSource" value="Ajiya.Module" />
    <add key="InvoiceDisplayName" value="VP-Sales Invoice -  Commission PDF" />
    
    <!--  Report   -->
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <connectionStrings>
    <!--<add name="WebConnectionString" connectionString="Data Source=10.254.17.11;Initial Catalog=S_EmailPortal;Persist Security Info=True;User ID=sa;Password=QazWsx.123" providerName="System.Data.SqlClient" />
    <add name="DB_ARI_LIVESAPConnectionString" connectionString="Data Source=10.254.17.11;Initial Catalog=DB_ARI_LIVE;Persist Security Info=True;User ID=sa;Password=QazWsx.123" providerName="System.Data.SqlClient" />
    <add name="DB_ARIT_LIVESAPConnectionString" connectionString="Data Source=10.254.17.11;Initial Catalog=DB_ARIT_LIVE;Persist Security Info=True;User ID=sa;Password=QazWsx.123" providerName="System.Data.SqlClient" />
    <add name="DB_ARIU_LIVESAPConnectionString" connectionString="Data Source=10.254.17.11;Initial Catalog=DB_ARIU_LIVE;Persist Security Info=True;User ID=sa;Password=QazWsx.123" providerName="System.Data.SqlClient" />-->

    <add name="CommonDBConnString" connectionString="Data Source=ALPHA;Initial Catalog=FT_EmailPortal_Common;Persist Security Info=True;User ID=sa;Password=Phan921381!" providerName="System.Data.SqlClient"/>
    <add name="WebConnectionString" connectionString="Data Source=RND\MSSQLSERVER2019;Initial Catalog=WEB;Persist Security Info=True;User ID=sa;Password=Phan921381!" providerName="System.Data.SqlClient"/>
    <add name="SSBESAPConnectionString" connectionString="Data Source=RND\MSSQLSERVER2019;Initial Catalog=SSBE;Persist Security Info=True;User ID=sa;Password=Phan921381!" providerName="System.Data.SqlClient"/>
    <add name="SSBCSAPConnectionString" connectionString="Data Source=RND\MSSQLSERVER2019;Initial Catalog=SSBC;Persist Security Info=True;User ID=sa;Password=Phan921381!" providerName="System.Data.SqlClient"/>
    <add name="SSBSSAPConnectionString" connectionString="Data Source=RND\MSSQLSERVER2019;Initial Catalog=SSBS;Persist Security Info=True;User ID=sa;Password=Phan921381!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" timeout="2880" defaultUrl="~/Home.aspx" />
    </authentication>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 57D68B53-4C59-45E3-B35A-C116ACC0E17E-->